{% extends 'sidebar.html.twig' %}

{% block title %}Gestion Ressources Humaines{% endblock %}

{% block page_contents %}
  

<!-- Partie centrale -->
<div class="fixed flex flex-col ml-14 mb-10 md:ml-64 lg:ml-64 xl:ml-64 w-full h-full dark:bg-slate-800 dark:text-white overflow-y-auto">

     <!-- Title (gestion rh) -->
    <div class="pl-24 pt-24">
        <p class="text-4xl">Gestion Ressources Humaines</p>
    </div>

    <!-- Recherche -->
    <div class="dark:bg-slate-900 bg-slate-100 ml-2 sm:ml-24 mt-20 max-w-fit rounded-lg">
        <form method="post" action="{{ path('managementrh_search') }}" class="flex flex-wrap p-5">
            <label class="my-4 font-semibold ">Recherche d'un salarié :
                <input name="salarie" type="text" class="mx-auto my-2 w-64 rounded-md bg-white dark:text-black border-transparent focus:border-gray-600 focus:bg-white focus:ring-0 text-center" placeholder="Entrer nom et prénom" required>
            </label>
            <button type="submit" class="my-auto mx-5 max-w-fit text-white bg-blue-600 font-semibold rounded-lg hover:bg-blue-900 hover:text-white focus:outline-none p-3 focus:bg-gradient-to-tl from-green-400 via-sky-600 to-indigo-900 focus:text-white">Rechercher</button>
        </form>
    </div>

    <!-- Nouveau salarié -->
    <div class="pl-24">
        <a href="{{ path("profil_new") }}" class="block max-w-fit text-white bg-blue-600 font-semibold rounded-lg hover:bg-blue-900 hover:text-white focus:outline-none p-3 my-10 focus:bg-gradient-to-tl from-green-400 via-sky-600 to-indigo-900 focus:text-white">Nouveau salarié</a>
    </div>

    <!-- Cards Departement -->
    <div class="grid grid-cols-2 gap-8 m-4 max-w-max ml-24">

            {# Affiche de tous les départements et du manager (nom/prenom) par département #}
            {% for user in users %}
            <div class="max-w-max dark:bg-slate-900 dark:text-white bg-slate-100 rounded-lg flex flex-col justify-center items-center px-10 py-5 w-96 shadow-md">
                
                <div class="text-center py-4">
                    <p class="text-xl font-bold mb-2">Nom de département {{ user.departement.name }} </p>
                    <p class="text-base text-gray-400 font-normal">Manager du département : {{ user.lastname }} {{ user.firstname }}</p>
                </div>

                <div class="grid grid-cols-3 gap-8">
                    <a href="mailto:{{ user.emailpro }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-10 w-10 text-green-500">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                          </svg>
                    </a>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-10 w-10 text-green-500">
                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                      </svg>
                    </a>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-10 w-10 text-green-500">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                      </svg>
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>

</div>
{% endblock %}
